{"filter":false,"title":".gitignore","tooltip":"/Midterm 2/midterm-2-molliepayne/.gitignore/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":0},"end":{"row":1,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"8b894ec0b3bbc33011392ad9bafeb1df2634db45","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1574195511218}