{"filter":false,"title":".gitignore","tooltip":"/FinalProject/flowerfarm/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":21,"column":0},"action":"insert","lines":[".DS_Store","node_modules","/dist","","# local env files",".env.local",".env.*.local","","# Log files","npm-debug.log*","yarn-debug.log*","yarn-error.log*","","# Editor directories and files",".idea",".vscode","*.suo","*.ntvs*","*.njsproj","*.sln","*.sw?",""],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":12,"column":0},"end":{"row":21,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1575515724060,"hash":"046d7411029202e97543ba35f3fb81767907dffd"}